@font-face {
  font-family: "Inter";
  src: url("./fonts/Inter-regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url("./fonts/Inter-bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url("./fonts/Inter-semibold.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url("./fonts/Inter-medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url("./fonts/Inter-extralight.otf") format("opentype");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url("./fonts/Inter-light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}
body {
  font-family: Inter;
  font-weight: normal;
}
@media screen and (max-width: 415px) {
  body {
    margin: 20px;
  }
}

ul {
  list-style: none;
  padding: 0;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
@media screen and (min-width: 415px) {
  .App {
    max-width: 1280px;
  }
}

nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  height: 70px;
}
nav button {
  padding: 0;
  margin: 0;
  background: none;
  border: none;
}
nav button img:hover {
  filter: brightness(110%);
  cursor: pointer;
}
nav button img:active {
  transform: translateY(2px);
  filter: brightness(90%);
}
nav button:hover {
  filter: brightness(110%);
  cursor: pointer;
}
nav button:active {
  transform: translateY(2px);
  filter: brightness(90%);
}
@media screen and (max-width: 415px) {
  nav .logo button img {
    width: auto;
    height: 70px;
  }
  nav ul {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
  }
  nav ul li {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  nav ul li:first-child {
    margin-right: 1REM;
    display: none;
  }
  nav ul li button h1 {
    color: black;
    font-size: 16px;
    line-height: 50px;
    font-weight: 700;
  }
  nav ul li .contactbtn {
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1REM;
    background-color: #FD828A;
    border-radius: 2REM;
  }
  nav ul li .contactbtn h1 {
    color: white;
  }
}
@media screen and (min-width: 416px) {
  nav {
    margin-top: 2REM;
  }
  nav .logo button img {
    width: auto;
    height: 70px;
  }
  nav ul {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
  }
  nav ul li {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  nav ul li:first-child {
    margin-right: 3REM;
  }
  nav ul li button h1 {
    color: black;
    font-size: 18px;
    line-height: 50px;
    font-weight: 700;
  }
  nav ul li .contactbtn {
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1REM;
    background-color: #FD828A;
    border-radius: 2REM;
  }
  nav ul li .contactbtn h1 {
    color: white;
  }
}

@media screen and (max-width: 415px) {
  .hero {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column-reverse;
  }
  .hero .bio {
    margin: 2REM 0;
  }
  .hero .bio h1, .hero .bio h2 {
    font-weight: 400;
    font-size: 23px;
  }
  .hero .bio h1 {
    margin-top: 2REM;
    margin-bottom: 0.5REM;
  }
  .hero .bio h2 {
    margin-top: 0;
  }
  .hero .bio mark {
    background: none;
    font-weight: 700;
  }
  .hero .bio .pink-highlight {
    color: #FD828A;
  }
  .hero .bio .purple-highlight {
    color: #b781d0;
  }
  .hero img {
    margin: 3REM 0;
  }
}
@media screen and (min-width: 416px) {
  .hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 100%;
    margin: 5REM 0 10REM 0;
  }
  .hero .bio h1, .hero .bio h2 {
    font-weight: 400;
    font-size: 23px;
  }
  .hero .bio h1 {
    margin-bottom: 2REM;
  }
  .hero .bio h2 {
    width: 70%;
    margin-bottom: 2REM;
  }
  .hero .bio mark {
    background: none;
    font-weight: 700;
  }
  .hero .bio .pink-highlight {
    color: #FD828A;
  }
  .hero .bio .purple-highlight {
    color: #b781d0;
  }
  .hero .bio img {
    padding: 2REM 0 0 0;
  }
  .hero img {
    height: 40%;
    width: 40%;
  }
}

.projects {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
}
.projects .gitlink0,
.projects .livelink1,
.projects .livelink2 {
  display: none !important;
}
.projects .livelink0 a {
  background: #B781D0 !important;
}
@media screen and (max-width: 415px) {
  .projects {
    margin-bottom: 1REM;
  }
  .projects img {
    margin-bottom: 1REM;
  }
  .projects ul {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .projects ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
  }
  .projects ul li .Card {
    margin-top: 4REM;
    margin-bottom: 6REM;
    border-radius: 2REM;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
  }
  .projects ul li .Card .proj-img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1REM;
  }
  .projects ul li .Card .proj-img img {
    height: 100%;
    width: 126px;
  }
  .projects ul li .Card .proj-text {
    width: 100%;
    padding: 0 22PX;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
  }
  .projects ul li .Card .proj-text h2 {
    font-size: 18px;
    font-weight: 700;
  }
  .projects ul li .Card .proj-text p {
    font-size: 16px;
    margin-top: 4px;
    margin-bottom: 16px;
    color: rgba(255, 255, 255, 0.65);
  }
  .projects ul li .Card .proj-text .tech-p {
    margin-bottom: 0;
    padding-bottom: 0;
  }
  .projects ul li .Card .btns {
    display: flex;
    justify-content: space-around;
    width: 100%;
  }
  .projects ul li .Card .btns .link-container {
    display: inline-block;
    width: 50%;
  }
  .projects ul li .Card .btns .link-container a {
    border: 4px solid white;
    border-radius: 4REM;
    width: 125px;
    height: 52px;
    text-decoration: none;
    color: white;
    font-size: 18px;
    display: block;
    width: 65%;
    text-align: center;
    margin: 0 auto;
    position: relative;
    top: 1REM;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .projects ul li .Card .btns .link-container a:hover {
    filter: brightness(110%);
    cursor: pointer;
  }
  .projects ul li .Card .btns .link-container a:active {
    transform: translateY(2px);
    filter: brightness(90%);
  }
  .projects ul li .Card .btns .Github0 {
    background-color: #B781D0;
  }
  .projects ul li .Card .btns .Live0 {
    background-color: #0FCFC9;
  }
  .projects ul li .Card .btns .Github1 {
    background-color: #0FCFC9;
  }
  .projects ul li .Card .btns .Live1 {
    background-color: #FD828A;
  }
  .projects ul li .Card .btns .Github2 {
    background-color: #FD828A;
  }
  .projects ul li .Card .btns .Live2 {
    background-color: #B781D0;
  }
  .projects ul li .Numb0 {
    background: #FD828A;
  }
  .projects ul li .Numb1 {
    background: #B781D0;
  }
  .projects ul li .Numb2 {
    background: #0FCFC9;
  }
}
@media screen and (min-width: 416px) {
  .projects {
    margin-bottom: 1REM;
  }
  .projects .header {
    margin-bottom: 1REM;
  }
  .projects ul {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .projects ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    margin: 4REM 0;
  }
  .projects ul li .Card {
    border-radius: 2REM;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 100%;
  }
  .projects ul li .Card .proj-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    margin: 1REM 0;
  }
  .projects ul li .Card .proj-img img {
    height: auto;
    width: 80%;
  }
  .projects ul li .Card .proj-text {
    width: 100%;
    height: 100%;
    padding: 0 22PX;
    margin-right: 2REM;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
  }
  .projects ul li .Card .proj-text h2 {
    font-size: 20px;
    font-weight: 700;
  }
  .projects ul li .Card .proj-text p {
    font-size: 18px;
    color: rgba(255, 255, 255, 0.65);
    margin-bottom: 16px;
  }
  .projects ul li .Card .proj-text .tech-p {
    margin-bottom: 0;
    padding-bottom: 0;
  }
  .projects ul li .Card .btns {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 25vh;
  }
  .projects ul li .Card .btns .link-container {
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .projects ul li .Card .btns .link-container a {
    border: 6px solid white;
    padding: 0.5REM 2REM;
    border-radius: 15px;
    text-decoration: none;
    color: white;
    font-size: 20px;
    display: block;
    width: 100%;
    text-align: center;
    position: relative;
    left: 35px;
  }
  .projects ul li .Card .btns .link-container a:hover {
    filter: brightness(110%);
    cursor: pointer;
  }
  .projects ul li .Card .btns .link-container a:active {
    transform: translateY(2px);
    filter: brightness(90%);
  }
  .projects ul li .Card .btns .Github0 {
    background-color: #B781D0;
  }
  .projects ul li .Card .btns .Live0 {
    background-color: #0FCFC9;
  }
  .projects ul li .Card .btns .Github1 {
    background-color: #0FCFC9;
  }
  .projects ul li .Card .btns .Live1 {
    background-color: #FD828A;
  }
  .projects ul li .Card .btns .Github2 {
    background-color: #FD828A;
  }
  .projects ul li .Card .btns .Live2 {
    background-color: #B781D0;
  }
  .projects ul li .Numb0 {
    background: #FD828A;
  }
  .projects ul li .Numb1 {
    background: #B781D0;
  }
  .projects ul li .Numb2 {
    background: #0FCFC9;
  }
}

.contactform {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
@media screen and (max-width: 415px) {
  .contactform {
    margin-bottom: 1REM;
  }
  .contactform img {
    margin-bottom: 1REM;
  }
  .contactform form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
  }
  .contactform form div {
    width: 100%;
    margin: 1REM 0;
  }
  .contactform form div input {
    height: 50px;
    border-radius: 2REM;
    padding: 0 1REM;
    width: 100%;
    border: none;
    background-color: #ededed;
  }
  .contactform form .textbox {
    width: 100%;
  }
  .contactform form .textbox textarea {
    border-radius: 2REM;
    width: 100%;
    height: 10REM;
    border: none;
    padding: 1REM 1REM;
    background-color: #ededed;
  }
  .contactform form .button-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .contactform form .button-container button {
    width: 100%;
    height: 41px;
    border-radius: 4REM;
    background-color: #B781D0;
    border: none;
    font-weight: 700;
    font-size: 14px;
    color: white;
  }
  .contactform form .button-container button:hover {
    filter: brightness(110%);
    cursor: pointer;
  }
  .contactform form .button-container button:active {
    transform: translateY(2px);
    filter: brightness(90%);
  }
}
@media screen and (min-width: 416px) {
  .contactform {
    margin-bottom: 1REM;
  }
  .contactform img {
    margin-bottom: 1REM;
  }
  .contactform form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
  }
  .contactform form div {
    width: 100%;
    margin: 1REM 0;
  }
  .contactform form div input {
    height: 50px;
    border-radius: 2REM;
    padding: 0 1REM;
    width: 100%;
    border: none;
    background-color: #ededed;
  }
  .contactform form .textbox {
    width: 100%;
  }
  .contactform form .textbox textarea {
    border-radius: 2REM;
    width: 100%;
    height: 10REM;
    border: none;
    padding: 1REM 1REM;
    background-color: #ededed;
  }
  .contactform form .button-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .contactform form .button-container button {
    width: 100%;
    height: 40px;
    border-radius: 4REM;
    background-color: #B781D0;
    border: none;
    font-weight: 700;
    font-size: 18px;
    color: white;
  }
  .contactform form .button-container button:hover {
    filter: brightness(110%);
    cursor: pointer;
  }
  .contactform form .button-container button:active {
    transform: translateY(2px);
    filter: brightness(90%);
  }
}

@media screen and (max-width: 415px) {
  footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 10REM;
  }
  footer a img {
    height: 35px;
    width: auto;
  }
  footer a img:hover {
    cursor: pointer;
  }
  footer a img:active {
    transform: translateY(2px);
  }
}
@media screen and (min-width: 416px) {
  footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    width: 20REM;
    margin-bottom: 2REM;
  }
  footer a img {
    height: 35px;
    width: auto;
  }
  footer a img:hover {
    cursor: pointer;
  }
  footer a img:active {
    transform: translateY(2px);
  }
}

.resume {
  margin: 0 0 4REM 0;
}
.resume .btn {
  display: flex;
  justify-content: center;
  align-content: flex-start;
}
.resume .btn a {
  text-decoration: none;
  height: 40px;
  line-height: 40px;
  font-size: 18px;
  padding: 0 1REM;
  background: #B781D0;
  color: white;
  border-radius: 2REM;
}
.resume .btn a:hover {
  filter: brightness(110%);
  cursor: pointer;
}
.resume .btn a:active {
  transform: translateY(2px);
  filter: brightness(90%);
}

/*# sourceMappingURL=theme.css.map */
